<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b6a4693a3f.js" crossorigin="anonymous"></script>
    <title>Lazhapee</title>
</head>
<%- include('../partials/navbar') %> 
<style>
    html,body{
        margin: 0;
        padding: 0;
    }
</style>
<body>
   
    <main class="container-fluid" style="width:100%;margin:0;padding: 0;">
        <%- body %> 
    </main> 
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
<%- include('../partials/footer') %>
</html>